:root {
  --font: "IBM Plex Mono", monospace;
  --font-size: 18px;

  --text-color: rgba(241, 178, 206, 1);
  --main-title-color: rgba(219, 0, 255, 1);
  --main-title-shadow-color: rgba(255, 0, 112, 1);
  --btn-color: rgba(255, 0, 112, 1);
  --btn-hover-color: rgba(255, 0, 112, 0.4);
  --title-color: rgba(0, 0, 40, 1);
  --title-background-color: rgba(255, 0, 112, 1);
  --links-shadow-color: #ff0070;
  --title-wtht-bcgrd-color: rgba(255, 0, 112, 1);
  --image-background: url("../images/cover-image-dark.png");
}
